@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

:root {
  --ui-primary: #e38443;
}

.dark {
  --ui-primary: #e38443;
}

@theme {
  --font-sans: "Public Sans", sans-serif;
}
